<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>User Data</title>
  <script type="text/javascript" src="javascripts/script.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body align="center">
  <div class="jumbotron jumbotron-fluid">
    <h1 id="Title">Lensabl Interview: Data Retrieval System</h1>
  </div>
  <div id="menu">
    <h3>Select the Number of Users</h3>
    <script>
      window.onload = dropDown();
    </script>
    <button type="button" onclick="retrieveData()" id="get_data_button">Get Data</button>
  </div>
  <div id="user_details"></div>
</body>

</html>