<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>10Users</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="javascripts/script.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>
  <div>
    <h2>Displaying details of 10 users</h2>
    <button type="button" onclick="retrieveData()">Try it</button>
  </div>
  <div id="user_details"></div>

</body>

</html>